# Server
PORT=3001
FRONTEND_URL=http://localhost:3000

# Database
# Connection limit is explicitly set to 10 for connection pooling optimization in our single-node setup.
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/task_tracker?schema=public&connection_limit=10"

# Redis
REDIS_URL="redis://localhost:6380"

# MinIO
MINIO_ENDPOINT="localhost"
MINIO_PORT=9000
MINIO_ROOT_USER="tasktracker_minio"
MINIO_ROOT_PASSWORD="MinioStr0ng@2024"
MINIO_ACCESS_KEY="tasktracker_minio"
MINIO_SECRET_KEY="MinioStr0ng@2024"

# JWT
JWT_SECRET="supersecret_jwt_key"
JWT_REFRESH_SECRET="supersecret_refresh_key"

# Google OAuth
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

# Notifications
SMTP_HOST="smtp.ethereal.email"
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="noreply@tasktracker.com"
VAPID_PUBLIC_KEY="BO7rn4JL0xdc6tv-NuCrpTQflo1mgmCfES7U2-xUzescpSWjCk-xDcHoZ5WMZpSbjNzu-xivTqyDAqt1IZuiNPg"
VAPID_PRIVATE_KEY="rfTcgjeRxgUXb1rWtEI4jV0Tjlb5TTEdQvtQESd3puY"
